{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <div class="container">
	<div class="reg-heading bestellhistorie">
	    <i class="i-bestellhistorie"></i>
	    <h1>Bestellhistorie Joachim Eder von Brandstetter von Braudenau</h1>
	</div>
	<h3 class="form-heading i-artikel">Artikel</h3>
	<table class="table table-striped table-hover DataTableSmall">
	    <thead>
		<tr>
		    <th scope="col">Bestelldatum</th>
		    <th scope="col">Artikel</th>
		    <th scope="col">Lieferung von</th>
		    <th scope="col">Lieferung bis</th>
		    <th scope="col">Details</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    <td>19.12.2018</td>
		    <td>Zeitungsvergleich</td>
		    <td>01.01.2019</td>
		    <td>06.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Unterrichtsbehelfe</td>
		    <td></td>
		    <td></td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Zeitungsvergleich</td>
		    <td>01.01.2019</td>
		    <td>06.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Unterrichtsbehelfe</td>
		    <td></td>
		    <td></td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Zeitungsvergleich</td>
		    <td>01.01.2019</td>
		    <td>06.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Unterrichtsbehelfe</td>
		    <td></td>
		    <td></td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Zeitungsvergleich</td>
		    <td>01.01.2019</td>
		    <td>06.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Unterrichtsbehelfe</td>
		    <td></td>
		    <td></td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Zeitungsvergleich</td>
		    <td>01.01.2019</td>
		    <td>06.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Unterrichtsbehelfe</td>
		    <td></td>
		    <td></td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
	    </tbody>
	</table>
	<h3 class="form-heading i-workshops mt-4">Workshops und Seminare</h3>
	<table class="table table-striped table-hover DataTableSmall">
	    <thead>
		<tr>
		    <th scope="col">Bestelldatum</th>
		    <th scope="col">Kategorie</th>
		    <th scope="col">Veranstaltungsdatum</th>
		    <th scope="col">Details</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
		<tr>
		    <td>19.12.2018</td>
		    <td>Workshop</td>
		    <td>01.01.2019</td>
		    <td>Kleine Zeitung Graz, der Standard, die  Presse </td>
		</tr>
		<tr>
		    <td>18.09.2018</td>
		    <td>Seminare</td>
		    <td>10.01.2019</td>
		    <td>ZiS aktuell 5/2017 mit Spelsialthema «Kommunikation»</td>
		</tr>
	    </tbody>
	</table>
	<p class="btns-center mt-5">
	    <button type="button" class="btn btn-outline-secondary btn-lg">Zurück</button>
	</p>
    </div>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
