{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content full-width">
    <div class="container">
	<div class="reg-heading">
	    <i class="i-schul"></i>
	    <h1>Schul- und Unternehmenskontakte</h1>
	</div>
	<div class="form-wrp">
	    <form>
		<div class="row">
		    <div class="col-12 col-xl-6">
			<div class="form-row">
			    <div class="form-group col-md-4">
				<label for="input1">Typ</label>
				<input type="text" class="form-control" id="input1" placeholder="AHS">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-8">
				<label for="input3">Schule/Unternehmen</label>
				<textarea class="form-control" id="input3" rows="3">Bundesgymnasium und Bundesrealgymnasium mit Modellversuch Neue Mittelschule</textarea>
			    </div>
			</div>
			<div class="form-row">
			</div>
			<div class="form-row">
			    <div class="form-group col-md-4">
				<label for="input5">Straße</label>
				<input type="text" class="form-control" id="input5" placeholder="Bürgermeister-Armin-Stoltenberg-Straße">
			    </div>
			    <div class="form-group col-md-2">
				<label for="input6">Hnr</label>
				<input type="text" class="form-control" id="input6" placeholder="39">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-4">
				<label for="input4">Land</label>
				<input type="text" class="form-control" id="input4" placeholder="">
			    </div>
			    <div class="form-group col-md-2">
				<label for="input7">Plz</label>
				<input type="text" class="form-control" id="input7" placeholder="1070">
			    </div>
			    <div class="form-group col-md-6">
				<label for="input8">Ort</label>
				<input type="text" class="form-control" id="input8" placeholder="Llanfairpwllgwyngyllgogerychwyrndrobwllll-antysiliogogogoch">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-3">
				<label for="input11">E-Mail </label>
				<input type="email" class="form-control" id="input11" placeholder="rg7@907026.ssr-wien.gv.at">
			    </div>
			    <div class="form-group col-md-3">
				<label for="input9">Telefon</label>
				<input type="text" class="form-control" id="input9" placeholder="+43 1 5236258">
			    </div>
			    <div class="form-group col-md-3">
				<label for="input10">Fax</label>
				<input type="text" class="form-control" id="input10" placeholder="+43 1 5268936">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6">
				<label for="input12">Auftragsreferenz</label>
				<input type="text" class="form-control" id="input12" placeholder="">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-12">
				<label for="input13">Anmerkungen</label>
				<textarea class="form-control" id="input13" rows="4"></textarea>
			    </div>
			</div>
		    </div>
		    <div class="col-12 col-xl-6">
			<h3 class="form-heading i-verbundene">Verbundene Kontakte</h3>
			<table id="DataTable" class="table table-striped table-hover">
			    <thead>
				<tr>
				    <th scope="col">Herr</th>
				    <th scope="col">Vorname</th>
				    <th scope="col">Nachname</th>
				    <th scope="col">Funktion</th>
				    <th scope="col">E-Mail</th>
				</tr>
			    </thead>
			    <tbody>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
				<tr>
				    <td>Frau</td>
				    <td>Alexandra</td>
				    <td>Anger</td>
				    <td>Lehrerin</td>
				    <td>Alexandra.anger@meineschule.at</td>
				</tr>
				<tr>
				    <td>Herr</td>
				    <td>Jürgen</td>
				    <td>Edler von Brandstätter von Brandenau</td>
				    <td>Lehrer</td>
				    <td>jbauer@gymnasium.at</td>
				</tr>
			    </tbody>
			</table>
		    </div>
		    <div class="col-12">
			<p class="btns-center mt-5">
			    <button type="button" class="btn btn-secondary btn-lg">OK</button>
			    <button type="button" class="btn btn-outline-secondary btn-lg">Abbrechen</button>
			    <a href="#" class="btn btn-primary btn-lg">Übernehmen</a>
			</p>
		    </div>
		</div>
	    </form>
	</div>
    </div>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
