{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <div class="container">
	<h3>Navigation</h3>
	<ul class="nav flex-column">
	    <li><a href="form-1.html">Form 1</a></li>
	    <li><a href="form-2.html">Form 2</a></li>
	    <li><a href="form-3.html">Form 3</a></li>
	    <li><a href="form-4.html">Form 4</a></li>
	    <li><a href="form-5.html">Form 5</a></li>
	    <li><a href="form-popups.html">Form Popups</a></li>
	    <li><a href="neuregistrierungen.html">Neuregistrierungen</a></li>
	    <li><a href="bestellhistorie.html">Bestellhistorie</a></li>
	</ul>
    </div>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
