{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <div class="container">
	<div class="reg-heading">
	    <i class="i-restore"></i>
	    <h1>Kennwort zurücksetzen</h1>
	</div>
	<div class="form-wrp">
	    <form>
		<div class="form-group sm">
		    <label for="input1" class="label-bold"><svg class="icon" viewBox="0 0 19 19" fill="#2b4a79"><use xlink:href='images/icons.svg#icon-mail'></use></svg> Bitte fügen Sie Ihre E-Mail-Adresse ein</label>
		    <input type="email" class="form-control" id="input1">
		</div>
		<p class="btns-center mt-5">
		    <button type="button" class="btn btn-primary btn-lg">Kennwort zurücksetzen</button>
		</p>
	    </form>
	</div>
    </div>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
