{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <div class="container">
	<h1 class="line-through">Verschaffen Sie sich einen Überblich über die Tageszeitungen und Magazine, die wir im Rahmen unserer Produktkategorien „Zeitungsbestellung“ und „Zeitungsvergleich“ anbieten.</h1>
	<div class="md-heading">
	    <i class="i-book"></i>
	    <h2 class="h2">Unsere Angebot an Tageszeitungen</h2>
	</div>
	<div class="magazines">
	    <div class="row">
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Der-Standard.jpg" alt="Der Standard">
			</div>
			<h4 class="title">Der Standard</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Die-Presse.jpg" alt="Die Presse">
			</div>
			<h4 class="title">Die Presse</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Kleine-Zeitung.jpg" alt="Kleine Zeitung">
			</div>
			<h4 class="title">Kleine Zeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Kronen-Zeitung.jpg" alt="Kronen Zeitung">
			</div>
			<h4 class="title">Kronen Zeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Kurier.jpg" alt="Kurier">
			</div>
			<h4 class="title">Kurier</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Wiener-Zeitung.jpg" alt="Wiener Zeitung">
			</div>
			<h4 class="title">Wiener Zeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Neue-Vorarlberger-Tageszeitung.jpg" alt="Neue Vorarlberger Tageszeitung">
			</div>
			<h4 class="title">Neue Vorarlberger Tageszeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/OO-Nachrichten.png" alt="OÖ Nachrichten">
			</div>
			<h4 class="title">OÖ Nachrichten</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/OO-Volksblatt.png" alt="OÖ Volksblatt">
			</div>
			<h4 class="title">OÖ Volksblatt</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Salzburger-Nachrichten.png" alt="Salzburger Nachrichten">
			</div>
			<h4 class="title">Salzburger Nachrichten</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Tiroler-Tageszeitung.png" alt="Tiroler Tageszeitung">
			</div>
			<h4 class="title">Tiroler Tageszeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/VN-Vorarlberger-Nachrichten.png" alt="VN Vorarlberger Nachrichten">
			</div>
			<h4 class="title">VN Vorarlberger Nachrichten</h4>
		    </a>
		</div>
	    </div>
	    <div class="md-heading">
		<i class="i-book"></i>
		<h2 class="h2">Unsere Angebot an Wochenzeitungen und Magazinen</h2>
	    </div>
	    <div class="row">
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Auto-touring.png" alt="Auto touring">
			</div>
			<h4 class="title">Auto touring</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Gewinn.png" alt="Gewinn">
			</div>
			<h4 class="title">Gewinn</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/News.png" alt="News">
			</div>
			<h4 class="title">News</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Profil.png" alt="Profil">
			</div>
			<h4 class="title">Profil</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Woman.png" alt="Woman">
			</div>
			<h4 class="title">Woman</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/GEO-Osterreich.png" alt="GEO-Österreich">
			</div>
			<h4 class="title">GEO-Österreich</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/OO-Nachrichten.png" alt="OÖ Nachrichten">
			</div>
			<h4 class="title">OÖ Nachrichten</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/OO-Volksblatt.png" alt="OÖ Volksblatt">
			</div>
			<h4 class="title">OÖ Volksblatt</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Salzburger-Nachrichten.png" alt="Salzburger Nachrichten">
			</div>
			<h4 class="title">Salzburger Nachrichten</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/Tiroler-Tageszeitung.png" alt="Tiroler Tageszeitung">
			</div>
			<h4 class="title">Tiroler Tageszeitung</h4>
		    </a>
		</div>
		<div class="col-md-2">
		    <a href="#" class="magazine">
			<div class="thumbnail">
			    <img src="/images/magazines/VN-Vorarlberger-Nachrichten.png" alt="VN Vorarlberger Nachrichten">
			</div>
			<h4 class="title">VN Vorarlberger Nachrichten</h4>
		    </a>
		</div>
	    </div>
	</div>
	<div class="shop-welcome">
	    <h3><span>Herzlich willkommen in unsrem Webshop</span></h3>
	    <p class="">auf den folgenden Seiten können Sie für Ihre Klasse gratis Zeitungen/Zeitschriften/Magazine bestellen. Um eine Bestellung durchzuführen, ersuchen wir Sie, sich einzuloggen, oder sich zu registrieren. Bitte beachten Sie, dass eine Bestellung von Abo-Produkten nur Lehrern und Lehrerinnen vorbehalten ist.</p>
	</div>
    </div><!-- .container-->
    <div class="shop-registration">
	<form>
	    <div class="container">
		<div class="row">
		    <div class="col-lg-8 col-md-8">
			<div class="form-row mt-2">
			    <div class="form-group col-md-6">
				<input type="text" class="form-control" id="inputR1" placeholder="Username">
			    </div>
			    <div class="form-group col-md-6">
				<input type="text" class="form-control" id="inputR2" placeholder="Passwort">
			    </div>
			    <div class="col-md-12">
				<small id="inputR2" class="form-text">Sollten Sie noch keine Registrierung vorgenommen haben, bitte klicken sie <a href="#">hier.</a></small>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-1 line">
		    </div>
		    <div class="col-lg-3 col-md-4 btn-col">
			<button type="button" class="btn btn-block btn-secondary btn-lg">OK</button>
		    </div>
		</div>
	    </div>
	</form>
    </div>
    <div class="container">
	<div class="auswahlen">
	    <div class="row dividing-line">
		<div class="col-md-6">
		    <div class="content">
			<img src="../images/content/Zeitungsprojekt.png" alt="Zeitungsprojekt">
			<h3 class="h3">Zeitungsprojekt</h3>
			<p>Für das erste „Zeitungsluft-Schnuppern“:<br>
			    Zeitungstexte lesen und verstehen, Ressorts und Elemente<br>
			    einer Nachricht kennenlernen.</p>
			<p><i class="clock"></i> Bestellen Sie für max. 4 Wochen</p>
			<div class="list-center">
			    <ul class="marked-list">
				<li>eine Tageszeitung oder</li>
				<li>eine Wochenzeitung oder</li>
				<li>ein Monatsmagazin </li>
			    </ul>
			</div>
		    </div>
		    <p class="my-4">
			<a href="#" class="btn btn-primary btn-lg">Auswählen</a>
		    </p>
		</div>
		<div class="col-md-6">
		    <div class="content">
			<img src="../images/content/Zeitungsvergleich.png" alt="Zeitungsvergleich">
			<h3 class="h3">Zeitungsvergleich</h3>
			<p>Für fortgeschrittene Zeitungsleser/innen:<br>
			    Analyse von Sprache, Themen und Nachrichtenauswahl,<br>
			    kompakter Einblick in den österreichischen Zeitungsmarkt.</p>
			<p> Bestellen Sie von 2-3 verschiedenen<br>
			    <i class="clock"></i> Bestellen Sie für max. 4 Wochen</p>
			<div class="list-center">
			    <ul class="marked-list">
				<li>Printmedien eine</li>
				<li>Tageszeitung oder eine</li>
				<li>Wochenzeitung oder ein </li>
				<li>Monatsmagazin </li>
			    </ul>
			</div>
		    </div>
		    <p class="my-4">
			<a href="#" class="btn btn-primary btn-lg">Auswählen</a>
		    </p>
		</div>
	    </div>
	</div>
	<div class="form-wrp">
	    <form>
		<div class="form-row">
		    <div class="form-group col-md-4">
			<label for="input10">Please indicate the total number of students :</label>
			<input type="text" class="form-control" id="input1" placeholder="23">
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
			<label for="input11">Please select a newspaper:</label>
			<select id="input11" class="custom-select">
			    <option selected>Der Standard Kompakt</option>
			    <option>...</option>
			</select>
		    </div>
		    <div class="form-group col-md-2">
			<label for="input12">Quantity:</label>
			<input type="text" class="form-control" id="input12" placeholder="12">
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
			<label for="input13">Please select a newspaper:</label>
			<select id="input13" class="custom-select">
			    <option selected>Die Presse</option>
			    <option>...</option>
			</select>
		    </div>
		    <div class="form-group col-md-2">
			<label for="input14">Quantity:</label>
			<input type="text" class="form-control" id="input14" placeholder="15">
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
			<label for="input15">Please select a newspaper:</label>
			<select id="input15" class="custom-select">
			    <option selected>Kleine Zeitung Steiermark</option>
			    <option>...</option>
			</select>
		    </div>
		    <div class="form-group col-md-2">
			<label for="input16">Quantity:</label>
			<input type="text" class="form-control" id="input16" placeholder="5">
		    </div>
		</div>
		<p class="form-text">If you have selected a daily newspaper, enter the desired days of the week for delivery. You can get the paper up to 6 times a week (Monday to Saturday). For weeklies / magazines, which appear once a week or once a month, the delivery date is already specified.</p>
		<div class="form-row">
		    <div class="form-group col-md-6">
		    </div>
		    <div class="form-group col-md-6">
			<p class="form-text">Please select a newspaper:</p>
		    </div>
		    <div class="form-group col-md-6">
			<input type="text" class="form-control" id="input17" placeholder="Der Standard Kompakt">
		    </div>
		    <div class="form-group col-md-6">
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckMo" checked>
			    <label class="custom-control-label" for="customCheckMo">Mo</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckDi" checked>
			    <label class="custom-control-label" for="customCheckDi">Di</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckMi">
			    <label class="custom-control-label" for="customCheckMi">Mi</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckDo">
			    <label class="custom-control-label" for="customCheckDo">Do</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckFr" checked>
			    <label class="custom-control-label" for="customCheckFr">Fr</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheckSa">
			    <label class="custom-control-label" for="customCheckSa">Sa</label>
			</div>
		    </div>
		    <div class="form-group col-md-6">
			<input type="text" class="form-control" id="input17" placeholder="Die Presse">
		    </div>
		    <div class="form-group col-md-6">
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Mo" checked>
			    <label class="custom-control-label" for="customCheck2Mo">Mo</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Di" checked>
			    <label class="custom-control-label" for="customCheck2Di">Di</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Mi">
			    <label class="custom-control-label" for="customCheck2Mi">Mi</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Do">
			    <label class="custom-control-label" for="customCheck2Do">Do</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Fr" checked>
			    <label class="custom-control-label" for="customCheck2Fr">Fr</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck2Sa">
			    <label class="custom-control-label" for="customCheck2Sa">Sa</label>
			</div>
		    </div>
		    <div class="form-group col-md-6">
			<input type="text" class="form-control" id="input17" placeholder="Kleine Zeitung Steiermark">
		    </div>
		    <div class="form-group col-md-6">
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Mo" checked>
			    <label class="custom-control-label" for="customCheck3Mo">Mo</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Di" checked>
			    <label class="custom-control-label" for="customCheck3Di">Di</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Mi">
			    <label class="custom-control-label" for="customCheck3Mi">Mi</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Do">
			    <label class="custom-control-label" for="customCheck3Do">Do</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Fr" checked>
			    <label class="custom-control-label" for="customCheck3Fr">Fr</label>
			</div>
			<div class="custom-control custom-checkbox custom-control-inline">
			    <input type="checkbox" class="custom-control-input" id="customCheck3Sa">
			    <label class="custom-control-label" for="customCheck3Sa">Sa</label>
			</div>
		    </div>
		</div>
		<h4>Bitte wählen Sie den Zeitraum der Zustellung</h4>
		<p class="form-text">Tageszeitungen können Sie bis zu 24x (z.B. 4 Wochen lang täglich von Montag bis Samstag) beziehen. Die max. Projektdauer ist 4 Wochen. Wochentitel können 4x bezogen werden, Monatsmagazine 1x. An Sonntagen erfolgt keine Zustellung. Die erste Zeitungslieferung kann frühestens zwei Wochen nach Eingang Ihrer Bestellung erfolgen</p>
		<div class="row">
		    <div class="col-md-6">
			<p class="form-text mb-3">Bitte wählen Sie den Tag der <a href="#">ersten</a> Zustellung</p>
			<div id="ersten-datepicker"></div>
			<p class="mt-4">
			    <button type="button" class="btn btn-outline-secondary">Automatisches Anfangsdatum</button>
			</p>
		    </div>
		    <div class="col-md-6">
			<p class="form-text mb-3">Bitte wählen Sie den Tag der <a href="#">letzten</a> Zustellung</p>
			<div id="letzten-datepicker"></div>
		    </div>
		</div>
		<div class="ticket">
		    <div class="left">
			<p>
			    Sie haben folgenden Zeitraum
			    für die Lieferung Ihrer
			    <strong>Zeitungsbestellung
				ausgewählt</strong>
			</p>
		    </div>
		    <div class="right">
			<p>
			    <span class="ersten">04.06.2019</span>
			    <span>bis</span>
			    <span class="letzten">16.07.2019</span>
			</p>
		    </div>
		</div>
		<p>Sollten Sie eine Lieferunterbrechung innerhalb des Lieferzeitraumes wünschen, führen Sie bitte den Zeitraum der Lieferunterbrechung unten an.</p>
		<div class="form-row">
		    <div class="form-group col-md-3">
			<label for="input1">Beginn der Lieferunterbrechung:</label>
			<input type="text" class="form-control" id="input1" placeholder="TT/MM/JJJJ">
		    </div>
		    <div class="form-group col-md-3">
			<label for="input2">Ende der Lieferunterbrechung:</label>
			<input type="text" class="form-control" id="input2" placeholder="TT/MM/JJJJ">
		    </div>
		</div>
		<p>Bitte geben Sie die Informationen betreffend die Schulstufe, Klasse und die relevanten Fächer für das Zeitungsprojekt ein.</p>
		<div class="form-row">
		    <div class="form-group col-md-3">
			<label for="input3">Schulstufe:</label>
			<input type="text" class="form-control" id="input3" >
		    </div>
		    <div class="form-group col-md-3">
			<label for="input4">Klasse:</label>
			<input type="text" class="form-control" id="input4" >
		    </div>
		    <div class="form-group col-md-3">
			<label for="input5">Fächer:</label>
			<input type="text" class="form-control" id="input5" >
		    </div>
		</div>
		<p>Kontakt bei Lieferung, bitte führen Sie an, wer für die Entgegennahme der Zeitungsanlieferung in Ihrer Schule zuständig ist.</p>
		<div class="form-row">
		    <div class="form-group col-md-4">
			<label for="input6">Ablageort für Zeitungen:</label>
			<input type="text" class="form-control" id="input6" placeholder="Zimmer/Büro Nr. /Stiege">
		    </div>
		    <div class="form-group col-md-3">
			<label for="input7">Name Kontaktperson:</label>
			<input type="text" class="form-control" id="input7" placeholder="Optional">
		    </div>
		    <div class="form-group col-md-3">
			<label for="input8">Telefonnummer:</label>
			<input type="text" class="form-control" id="input8" placeholder="Optional">
		    </div>
		</div>
		<div class="form-group">
		    <label for="input9">Sonstige Mitteilungen</label>
		    <textarea class="form-control" id="input9" rows="4"></textarea>
		</div>
		<p class="btns-center mt-5">
		    <a href="#" class="btn btn-primary btn-lg">Bestellen</a>
		    <button type="button" class="btn btn-outline-secondary btn-lg">Abbrechen</button>
		</p>
	    </form>
	</div>
    </div>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
