<div class="site-footer">
    <div class="container">
	<div class="row">
	    <div class="col-12 logo"><a href="#"><img src="images/footer-logo.png" alt="Zis" class="img-fluid"></a></div>
	    <div class="col-12 menu">
		<ul class="nav">
		    <li class="nav-item">
			<a class="nav-link" href="#">Lesezeichen setzen</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">Textversion</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">Startseite</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">Kontakt</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">Impressum</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">AGB</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="#">ZiS 2019</a>
		    </li>
		</ul>
	    </div>
	    <div class="col-12 copyright">
		<ul class="nav copy">
		    <li class="nav-item">
			<a class="nav-link" href="#">Privacy Policy</a>
		    </li>
		    <li class="nav-item">
			<span>
			    Copyright © 2019 ZiS
			</span>
		    </li>
		</ul>
	    </div>
	</div>
    </div>
</div>